/* src/components/InputForm.css */
/* fontFamily: "'S-CoreDream-3Light', sans-serif", */
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #f9f9f9;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  
  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    font-family: 'S-CoreDream-3Light';
  }
  
  input {
    margin-top: 6px;
    padding: 12px;
    border: 1px solid #ccc;
    font-family: 'S-CoreDream-3Light';
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 14px;
    font-size: 16px;
    background-color: #f4a8a8;
    font-family: 'S-CoreDream-3Light';
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  button:hover {
    background-color: #f4a8a8;
  }
  
  /* InputForm.css */
select {
    margin-top: 6px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    font-family: 'S-CoreDream-3Light';
  }

  .amount-row {
    display: flex;
    gap: 8px;
    align-items: center;
    
  }
  
  .amount-row input {
    flex: 1;
  }
  
  .type-tabs {
    display: flex;
    gap: 4px;
  }
  
  .type-tabs button {
    padding: 10px 14px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f0f0f0;
    cursor: pointer;
    min-width: 52px;
    transition: 0.2s;
  }
  
  .type-tabs button.active {
    background-color: #f4a8a8;
    color: white;
    border-color: #f4a8a8;
  }
  